<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Library</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>check</servlet-name>
    <servlet-class>servlets.check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check</servlet-name>
    <url-pattern>/servlets/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checklogin_Servlet</servlet-name>
    <servlet-class>servlets.checklogin_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checklogin_Servlet</servlet-name>
    <url-pattern>/servlets/checklogin_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mangerUser</servlet-name>
    <servlet-class>servlets.mangerUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mangerUser</servlet-name>
    <url-pattern>/servlets/mangerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addbook</servlet-name>
    <servlet-class>servlets.addbook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addbook</servlet-name>
    <url-pattern>/servlets/addbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>returnbook</servlet-name>
    <servlet-class>servlets.returnbook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>returnbook</servlet-name>
    <url-pattern>/servlets/returnbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>findbook</servlet-name>
    <servlet-class>servlets.findbook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findbook</servlet-name>
    <url-pattern>/servlets/findbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>findUser</servlet-name>
    <servlet-class>servlets.findUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findUser</servlet-name>
    <url-pattern>/servlets/findUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>student_findbook</servlet-name>
    <servlet-class>servlets.student_findbook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student_findbook</servlet-name>
    <url-pattern>/servlets/student_findbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifybook</servlet-name>
    <servlet-class>servlets.modifybook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifybook</servlet-name>
    <url-pattern>/servlets/modifybook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>borrowbook</servlet-name>
    <servlet-class>servlets.borrowbook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>borrowbook</servlet-name>
    <url-pattern>/servlets/borrowbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletebook</servlet-name>
    <servlet-class>servlets.deletebook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletebook</servlet-name>
    <url-pattern>/servlets/deletebook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteUser</servlet-name>
    <servlet-class>servlets.deleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUser</servlet-name>
    <url-pattern>/servlets/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>servlets.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/servlets/register</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>student_register</servlet-name>
    <servlet-class>servlets.student_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student_register</servlet-name>
    <url-pattern>/servlets/student_register</url-pattern>
  </servlet-mapping>
</web-app>